<h1 class="titulo" style="padding-left:10%"> Registar Nuevo Empleado</h1>
<div class="columns" style=" padding-left:25%"> 
     <div class="column" style="padding-bottom: 30%;" >
        <form action="" method="POST">    
        <fieldset>
            
            

            
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Nombre Completo </label>
              </div>
              <div class="field-body">
                <p class="control is-fullwidth">
                  <input class="input" placeholder="Helena Cobo Reyes" id="nombre" name="nombre" type="text" required>
                </p>
              </div>
            </div>
          
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Correo del Usuario</label>
              </div>
              <div class="field-body">
                <div class="control is-fullwidth">
                  <input class="input"  placeholder="helenacobo@tec.mx" id="correo" name="correo" type="email" required>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Password</label>
              </div>
              <div class="field-body">
                <div class="control is-fullwidth">
                  <input class="input"  placeholder="*******" id="contraseña" name="contraseña" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                </div>
              </div>
            </div>
        </fieldset>
        <br>
        <p class="control">
          <input type="submit" class="btn" value="Registrar">
        </p>
        </form>
    </div> 
</div> 