<% if(mensaje != "") {  %>

  <div class="notification is-success is-light exitoTarea" id="snackbar">
  Empleado Registrado <strong>correctamente</strong>
  </div>

<% } %>
<h1 class="titulo" id="tituloRE"> Registar Nuevo Empleado</h1>
<div class="columns" id="regEmpleado"> 
    <div class="column is-fullwidth" style="padding-bottom: 30%;" >
        <form action="" method="POST">    
        <fieldset>
            
            

            
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Nombre Completo </label>
              </div>
              <div class="field-body">
                <p class="control is-fullwidth">
                  <input class="input" placeholder="Helena Cobo Reyes" id="nombre" name="nombre" type="text" required>
                </p>
              </div>
            </div>
          
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Correo</label>
              </div>
              <div class="field-body">
                <div class="control is-fullwidth">
                  <input class="input"  placeholder="helenacobo@natgas.mx" id="correo" name="correo" type="email" pattern="([\w - \.]+)@natgas.com.mx" required>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Rol</label>
              </div>
              <div class="field-body">
                <div class="control is-fullwidth">
                  <label class="radio">
                    <input type="radio" name="rol" value="1">
                    Colaborador
                  </label><br>
                  <label class="radio">
                    <input type="radio" name="rol" value="2">
                    Lider
                  </label><br>
                  <label class="radio">
                    <input type="radio" name="rol" value="3">
                    Coordinador
                  </label>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Password</label>
              </div>
              <div class="field-body">
                <div class="control is-fullwidth">
                  <input class="input"  placeholder="*******" id="contraseña" name="contraseña" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                </div>
              </div>
            </div>
        </fieldset>
        <br>
        <p class="control">
          <input type="submit" class="button reportebtn is-success is-outlined" value="Registrar" id="regEmp">
        </p>
        </form>
    </div> 
</div> 