<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="columns">
        <div class= "column is-one-fifth-desktop is-fullheight">
            <aside class="menu">
                <p class="menu-label">
                    Bienvenido.
                </p>
                <ul class="menu-list has-icons-left">
                    <li><a href="/user/inicio">Inicio</a></li>
                    <li><a href="/user/inicio"> Proyectos</a></li>
                    <li><a href="/user/inicio">Mis Tareas</a></li>
                    <li><a href="/user/inicio">Crear Proyecto</a></li>
                    <li><a href="/user/inicio">Reportes</a></li>
                    <li><a href="/user/inicio">Cerrar Sesion</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">  
            <section class="content">
                <div class="hero">
                    Mis Proyectos
                </div>
            </section>  
            
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                                <div class="swiper-slide card" id="gris-clare">
                                    <div class="card-content">
                                        <div class="title" id="blanco">
                                            <%= p.nombreP %>
                                        </div>
                                        <div class="subtitle" id="blanco">
                                            <%= p.descripcion %>
                                        </div>
                                        <div class="content">
                                            Stack Tecnológico: <%= p.stackTecnologico %> <br>
                                            Estatus: <%= p.estatus%>
                                            <a href="/proyecto/editar/<%= p.idProyecto %>"><img src="../../media/editar.png" id="editarProyecto"></a>
                                            <a href="/proyecto/eliminar/<%= p.idProyecto %>"><img src="../../media/borrar.png" id="borrarProyecto"></a>
                                            
                                        </div>
                                    </div> 
                                </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
        </div>
    </div>
  
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  
  <!-- Initialize Swiper -->
  <script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 2,
    spaceBetween: 15,
    slidesPerGroup: 2,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  </script>
    </nav>
   
</body>
</html>