
        <h1 class="title" >Mis Proyectos</h1>
        <a class="button" href="/proyecto/registrarProyecto">Registrar Proyecto</a>
        <a class="button" href="/proyecto/proyectosExistentes">Todos los Proyectos</a>
        <div class="columns">
            <% for (let p of proyecto) { %>
            <div class="column is-multiline">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            <%= p.nombreP %>
                        </p>
                        <p class="subtitle">
                            <%= p.descripcion %>
                        </p>
                        <div class="content">
                            Stack Tecnológico: <%= p.stackTecnologico %> <br>
                            Estatus: <%= p.estatus%>

                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            
            
        </div>
        



