
        <h1 class="titulo">Mis Proyectos</h1>
        
        <div class="columns is-multiline">
            <% for (let p of proyecto) { %>
            <div class="column is-half">
                <div class="card is-half">
                    <div class="card-content">
                        <p class="title">
                            <%= p.nombreP %>
                        </p>
                        <p class="subtitle">
                            <%= p.descripcion %>
                        </p>
                        <div class="content">
                            Stack Tecnológico: <%= p.stackTecnologico %> <br>
                            Estatus: <%= p.estatus%>

                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            
            
        </div>
        



