<% if(mensaje != "") {  %>

    <div class="notification is-success is-light exitoTarea">
      Proyecto creado <strong>correctamente</strong>
    </div>
    
<% } %>
        <h1 class="titulo">Mis Proyectos</h1>
        
            <div class="cartaProyectos">
                <div class="columns is-multiline">
                    <% for (let p of proyecto) { %>
                    <div class="column is-half">
                        <div class="card is-narrow">
                            <div class="card-content">
                                <p class="title">
                                    <%= p.nombreP %>
                                </p>
                                <p class="subtitle">
                                    <%= p.descripcion %>
                                </p>
                                <div class="content">
                                    Stack Tecnológico: <%= p.stackTecnologico %> <br>
                                    Estatus: <%= p.estatus%>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>  
            </div>
        



