body {
  font-family: var(--fuente);
  background-color: rgba(255, 255, 255, 0.92);
  display:flex;
  align-items: center;
  height: 100vh;
} 

body .menu{
  font-family: var(--fuente);
  background-color: var(--azulOscuro);
  display:block;
  align-items: center;
  height: 100vh; 
}

.loginForm {
  font-family: var(--fuente);
  display: contents;
  background-color: var(--azulOscuro);
  align-items: center; 
  height: 100vh;
}

.menu {
  /* rectangulo */
  position: fixed;
  min-width: 250px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 0em;
  
  background: #002b49; 

  /* letras */
  font-style: normal;
  font-weight: 580;
  padding-left: 10px;
  padding-top: 10px;
}

.cerrarSesion {
  position:absolute;
  bottom: 10px;
}

.icon-us {  
  margin-right: 15px;
  width: 20%;
  height: 20%;
}

.imagenMenu{
  width: 70px;
  margin-left: 55px;
  margin-top: 10px;
}

.menu-label {
  color:#5c9de9 !important;
}

.menu-list a{
  color:#ffffff !important;
}

.menu-list a:hover{
  background-color: rgba(96, 96, 114, 0.679) !important;
}

.column a {
  padding-left: 140px;
  padding-top: 0px;
  margin-top: -32px;
}

.column {
  padding: 40px;
} 

.row a{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.row a:hover {
  background-color: rgb(225, 15, 15);
}

/* .footer img{
  width: 150px;

}
.footer.footer{
  height: 200px;;
}  */

/*estilos de login*/

/*colores oficiales*/
:root{
  --azulOscuro: #002b49;
  --azulClaro: #007DBA;
  --azulSec1: #00A99D;
  --azulSec2: #098B90;
  --grisCool: #888B8D;
  --verde: #43B02A;
  --blanco: rgb(255, 255, 255);
  --fuente: "Quicksand", sans-serif;
}


html{
  box-sizing: border-box;
}

*,*::after, *::before{
  box-sizing: inherit;
}

.contenedor {
  margin: 0 auto;
  margin-left: 150px;
  max-width: 1100px;
  width: 95%;
}

.imagen-formulario {
  background-image: url("../media/logo.png");
  background-position: center;
  margin-left: -80px;
  margin-right: 80px;
  background-size: cover;
  height: 100px;
  flex: 0 0 calc(54%);
  position: relative;
}

.imagen-formulario::before {
  content: "";
  position: absolute; /*se desactivan propiedades top, bottom left y right*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, var(--azulSec1) var(--azulSec2));
}

@media(min-width: 768px) {
  .imagen-formulario{
    height: auto; 
    background-position: right;
  }
}

@media(min-width:1200px) {
  .imagen-formulario{
    background-position: center;
  }
}

@media(min-width:768px) { /*responsividad*/
  .contenedor-formulario {
    display: flex;
  }
}

.formulario {
  padding: 80px;
  background-color: var(--azulOscuro);
  /*bgcolor: var(--azul)*/
}

.texto-formulario h2, .input label, .texto-formulario p, .usuario-input{
  color: var(--blanco);
  font-family: var(--fuente);
  /*color: var(--azul)*/
}

.texto-formulario h2{
  font-size: 50px;
  text-align: center;
}

.texto-formulario p{
  font-size: 20px;
  text-align: center;
}

.input label {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0px 0;
}

.input input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.field button[type="submit"] {
  width: 100%;
  background-color: var(--azulSec1);
  color: white;
  font-size: 22px;
  font-weight: bold;
  border: none;
  margin-top: 7px;
  transition: background-color .3s ease in-out;
}
.field button[type="submit"]:hover{
  cursor: pointer;
  background-color:var(--azulSec2);
}

/*estilos de crear tarea*/

.regTarea {
  /* background-color: #098B90; */
  left: 27%;
  padding-top: 10px;
  position:absolute;
  width: 900px;
}

.busqueda,
.nomTarea,
.horasT{
  margin-left: -40px;
  margin-top: 10px;
}

.colabs{
  margin-left: -100px;
}


.field-label label {
  width: 250px;
  display: flex;
  padding: 0px;
  position: relative;
}

.botonTarea {
  left: 110%;
  margin-top: -250px;
  color: white;
  border: none;
  width: 190px;
  height: 40px;
  border-radius: 7px;
  position: absolute;
}



.fecha{
  text-align: right;
  font-weight: bold;
  /* padding-right: 70px;
  padding-top: 30px; */
}

.botonAgregarColaborador{
  left: 330px;
  width: 40px;
  top: -40px;
} 

.botonAgregarColabProyecto{
  position: fixed;
  left: 100%;
  width: 40px;
  bottom: 40px;
  margin-left: 10px;
} 
.table {
  position: absolute;
  font-family: var(--fuente);
  font-size: large;
  top: 28%;
  left: 33%;
  width: 700px;
}

.titulo {
  position: absolute;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 40%;
  top: 65px;
}

#tituloED {
  position: absolute;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 50%;
  top: 65px;
}

#tituloRE {
  position: absolute;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 46%;
  top: 65px;
}

.tituloProyecto{
  position: fixed;
  text-align: center;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 50%;
  top: 65px;

}
.imagenInicio {
  position: absolute;
  width: 912px;
  height: 509px;
  left: 27%;
  top: 8%;
}

.proyectosExistentes {
  padding-top: 460px;
  padding-left: 650px;
}


.cartaProyectos{
  padding: 2rem;
}

.nombreUsuario {
  color: white;
  margin-left: 10px;
  margin-top: 25px;
}


.contenedorProyecto{
  margin-left: 38%;
  margin-top: 8%;
  width:max-content;
}

.contenedorTarea{
  margin-left: 35%;
  margin-top: 2%;
}

.nombresesion{
  margin-left: -14%;
}

.botonAgregarColaboradorTarea{
  margin-left: 108%;
  margin-top: -12%;
}

.botonAgregarTarea {
  position: absolute;
  left: 260%;
  bottom: 100%;
}
.cartaProyectos {
  width: 600px; 
  margin-bottom: 80%;
  margin-left: 20%;
  
}


.exitoTarea{
  position:absolute;
  bottom:35%;
  margin-top: -100px;
  margin-left: 10px;
}

/* PANTALLA DE INICIO POR PROYECTO */



.tituloProyectoE{
  position: absolute;
  width: 290px;
  height: 61px;
  left: 50%;
  top: 50px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */
  color: #000000;
}

.imagenExistente {
  position: absolute;
  width: 450px;
  left: 40%;
  top: 120px;
}

.descripcionProyectos{
  position: absolute;
  text-align: center;
  width: 758px;
  height: 84px;
  left:29%; 
  top: 380px; 

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;

  color: #000000;
}

.estatusPE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 450px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}

.stackPE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 520px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 205px;
  line-height: 30px;

  color: #000000;
}

.stakePE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 590px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;

  color: #000000;
}

.colaboradoresPE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 660px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;

  color: #000000;
}

.botonRegreso{
  top:-350px;
  left: 30px;
}

.botonDetalles{
  top:-290px;
  left: -70px;
}

.idProyectoE{
  margin-top: -650px;
}

.porcentajes {
  position: absolute;
  top: 330px;
}

.porcentajesRep {
  position: absolute;
  left: 19%;
  top: 560px;
}

.inputs_reporteRep {
  position: absolute;
  left: 19%;
  width: 600px;
  top: 290px;
}

.fechas_reporte {
  position: absolute;
  left: 15%;
  top: 200px;
}

.inputs_reporte {
  position: absolute;
  left: 15%;
  width: 600px;
  top: 350px;
}

.table thead td, .table thead th {
  color: #0F1C24 !important;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 10px;
  /* background-color: #1D9C61; */
}

table tbody tr:nth-child(odd) {
  color: #0F1C24  !important;
	background: #078caa56; 
}
table tbody tr:nth-child(even) {
  color:#0F1C24 !important;
  background: #08b3da1e;
}

.number {
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
  border-radius: none;
}

.horasTotales{
  position: absolute;
  margin-top: -230px;
  left: 339%;;
}

.seleccionarProyecto{
  top: 90px;
  left: -80px;
}

.titulo-medio{
  position: center;
  text-align: center;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 40%;
}

.titulo-MisProyectos{
  position: top;
  text-align: center;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 5%;

}

.notificacionAgregarColab {
  padding-left: 10px;
  margin-left: 235px;
}

#botonBorrar22,
#botonEditar{
  max-width: 30px;
  margin-top: 20px;
}

#listaColabsRegistrados{
  margin-right: 320px;
  margin-top: -35px;
  font-style:italic;
}

#borrarColab{
  max-width: 3.5%;
  margin-left: 2%;
}

#borrarColabEditProyecto{
  width: 20px;
  margin-left: 300px;
}

::-webkit-scrollbar {
  display: none;
}


.proyecto{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.swiper {
  max-width:1150px;;
  min-width: 600px; 
  height: 75%;
  padding: 20px !important;
}

.swiper-slide {
  text-align: left;
  /* width: auto !important; */
  font-size: 18px;
  background: #fff;
}

.swiper-button-next::after {
  position: absolute;
  right: -10px;
}
.swiper-button-prev::after {
  position: absolute;
  left: -10px;
}
/* 
.mySwiper {
  width: 200px;
} */

.swiper-pagination {
  position: static !important;
}

.swiper .card{
  min-width: 40%;
  min-height: 250px;
  box-shadow: 8px 8px  rgb(136 139 141 / 48%);
}

.card a{
  right: 0px;
  position: absolute !important;
  top: 32px;
}
/* .card .image {
  position: fixed;
} */

.botonEditarProyecto {
  right: 53px;
  top: 13px;
  position: absolute !important;
}

.botonEliminarProyecto {
  right: 13px;
  top: 13px;
  position: absolute !important;
}

/* .botonEditarProyecto2 {
  right: 90px;
  top: 10px;
  position: relative !important;
}

*/
.botonEliminarProyecto2 {
  top: 10px;
  right: 40px;
  position:relative !important;    
}

#azul{
  background-color: var(--azulOscuro);
  color:whitesmoke;
}
#blanco{
  color:whitesmoke;
}

#gris-clare {
  background-color: var(--grisCool);
  color:whitesmoke
}

/* .columns .colProyecto {
  margin-left: 70px !important;
} */

.field .is-horizontal .proyectoVista{
  margin-left: 100px !important;
}
.crear {
  position: absolute;
  left: 500px;
  top: 100px;
  width: 600px;
}
#li, 
#addColab{
  max-width:20px;
  margin-left: 10px;
  
}

.modificar {
  position: absolute;
  left: 500px;
  top: 400px;
  width: 600px;
}

/* .boton_crearReporte:hover {
  background-color:#00bdc7;
  cursor: pointer;
} */

.listaCollabs {
  position: relative;
}

#reporteSemanal {
  position: absolute;
  left: 300px;
  top: 150px;
}

#cajaColabs{
  margin-right: 320px;
  
  /* text-align: left; */
}

.editarTarea {
  /* background-color: #098B90; */
  left: 27%;
  padding-top: 150px;
  position:absolute;
  width: 900px;
}

.editarProyecto {
  left: 25%;
  position: absolute;
  width: 900px;
  top: 5px;
  padding-top: 7%;
  padding-bottom: 3%;
}

#grafica{
  position: absolute;
  max-width: 800px;
  margin-left: 31.5%;
  margin-top: 3%;
  display: flexbox;
}

#table_f_wrapper {
  position: absolute;
  left:33%;
  top: 26%;
} 

#table_tarea_paginate {
  position: absolute;
  left: -8%;
}

#table_tarea_previous, #table_tarea_next {
  padding: 250px;
  left: 4%;
}

#table_f {
  /* margin-top: 100px; */
  /* width: 600px; */
  box-shadow: 10px 10px 8px #8888888d;
}

#table_tarea{
  box-shadow: 10px 10px 8px #8888888d;
}

#table_tarea_filter {
  position: absolute;
  left: 75%;
  top: -3%;
}

#table_tarea_wrapper {
  position: absolute;
  left:25%;
  top: 33%;
  width: 900px;
  padding-left: 90px;
} 


th,td {
  padding: 0.6rem !important;
}

/* #table_f_filter, #table_f_length{
  position: absolute;
  top: 20px;
}  */

#table_f_filter {
  position: absolute;
  left: 570px;
  top: -13px;
}

#table_f_length {
  top: -13px;
}

#dataTables_scrollBody {
  position: absolute;
  margin-left: 90%;
}

#tabla_reporte {
  position: absolute;
  top: 23%;
  left: 50%;
}

#personalMedioT.input, #personalCompletoT.input, #horasVacaciones {
  width: 70px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--verde); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 2; /* Add a z-index if needed */
  left: 27%; /* Center the snackbar */
  top: 5%; /* 30px from the top*/
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 5%; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 5%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 5%; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 5%; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.botonRegreso2{
  top:-350px;
  left: -640px;
}

.tituloBienvenida{
  position: absolute;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 43%;
  top: 65px;
}

.mensajeB2{
  position: absolute;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-left: 46%;
  top: 15%;
}

.mensajeGrafica{
  position: absolute;
  font-family: var(--fuente);
  font-style: italic;
  font-size: 15px;
  color: black;
  margin-left: 32%;
  top: 25%;

}
#reportebtn {
  position: absolute;  
  width: 150px;
  top: 775px;
  left: 52%;
 /* height: 50px;
  background-color: #00A99D;
  border: none;
  color: white;
  border-radius: 10px; */
}

.labelPE{
  top: 80px;
}
#crearPDF {
  position: absolute;  
  width: 150px;
  top: 775px;
  left: 38%;
  /* bottom: -10%;
  width: 100px;
  height: 50px;
  background-color: #00A99D;
  border: none;
  color: white;
  border-radius: 10px; */
}

#botonRegreso {
  position: absolute;
  top: 10%;
  left: 18%;
}

#botonDetalle {
  position: absolute;
  top: 10%;
  left: 26%;
}

#crearR, #modificar {
  top: 35%;
}

#crearR {
  left: -11%;
}

#modificar {
  left: 340px;
} 

#btnCrearReporte{
  position: absolute;  
  width: 150px;
  top: -40px;
  left: 450px;
  /* right: 50px;
  top: 220px;
  width: 100px;
  height: 50px;
  background-color: #00A99D;
  border: none;
  color: white;
  border-radius: 10px; */
}

#reporteSemanal2 {
  position: absolute;
  left: 920px;
  top: 320px;
}

 #modificarR {
  position: absolute;
  left: 1070px;
  top: 310px;
} 

#proyecto, #tarea, #horas {
  padding: 30px;
}

#reportes {
  left: 5%;
}

#regEmpleado {
  position: absolute;
  left: 40%;
  top: 25%;
}

#regEmp {
  position: absolute;
  left: 80%;
}

#misP {
  position: absolute;
  left: 24%;
  top: 13%;
  width: 1000px;
}

#todosP {
  position: absolute;
  left: 24%;
  top: 70%;
  width: 1000px;
}

#misPrTitulo {
  position: absolute;
  left: 45%;
  top: 7%;
}

#todosPrTitulo {
  position: absolute;
  left: 45%;
  top: 57%;
}

#misTareas {
  position: absolute;
  left: 10%;
}

.botonAgregarTarea3 {
  position: absolute;
  left: 225%;
  bottom: 17%;
}

.botonAgregarTarea2 {
  position: absolute;
  left: 110%;
  bottom: 13%;
}

.botonAgregarTarea4 {
  position: absolute;
  left: 266%;
  bottom: 13%;
}

.botonAgregarTarea5 {
  position: absolute;
  left: 262%;
  bottom: 20%;
}

#img {
  position: absolute;
  top: -50%;
  padding: 16px;
}

#videos {
  position: absolute;
  left: 20%;
  top: -200px;
}

#videos2 {
  position: absolute;
  left: 20%;
  top: -140px;
}

#videos3 {
  position: absolute;
  left: 20%;
  top: -80px;
}

#videos4 {
  position: absolute;
  left: 20%;
  top: -9px;
}

#videos5 {
  position: absolute;
  left: 20%;
  top: 80px;
}

.videosCaja {
  position: absolute;
  left: 35%;
  top: 60%;
  height: 100px;
  width: 500px;
}

#ayuda {
  position: absolute;
  left: 2%;
}

.boxReporte {
  background-color:#002b49;
  width: 100%;
  height: 175%;
}
.boxReporte2 {
  background-color:rgba(255, 255, 255);
  width: 85%;
  height: 70%;
  margin-left: 7.2%;
  margin-right: 20%;
  margin-top: 21%;
  box-shadow:0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.regresarbtn2 {
  position: absolute;  
  width: 150px;
  top: 10px;
  left: 60px;
}