body {
  font-family: var(--fuente);
  background-color: rgba(255, 255, 255, 0.92);
  display:flex;
  align-items: center;
  height: 100vh;
} 

body .menu{
  font-family: var(--fuente);
  background-color: var(--azulOscuro);
  display:block;
  align-items: center;
  height: 100vh; 
}

.loginForm {
  font-family: var(--fuente);
  display: contents;
  background-color: var(--azulOscuro);
  align-items: center; 
  height: 100vh;
}

.menu {
  /* rectangulo */
  position: static;
  width: 250px;
  /* height: 700px; */
  left: 70px;
  top: 0px;
  background: #002b49; 

  /* letras */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /*line-height: 30px;*/
  padding-left: 10px;
  padding-top: 15px;
}

.cerrarSesion {
  position: absolute;
  width: 338px;
  height: 0px;
  left: -2px;
  padding-left: 40px;
  margin-top: 80px; 
  color: white;
}
.icon {
  display: flex;
  position: static;
  margin-top: 50px;
  /*font-family: "Helvetica";
  font-style: normal; */
}

.column a {
  color: #ffffff !important;
  padding-left: 140px;
  padding-top: 0px;
  margin-top: -32px;
}

.column {
  padding: 40px;
} 

.row a{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.row a:hover {
  background-color: rgb(8, 64, 109);
}

/* .footer img{
  width: 150px;

}
.footer.footer{
  height: 200px;;
}  */

/*estilos de login*/

/*colores oficiales*/
:root{
  --azulOscuro: #002b49;
  --azulClaro: #007DBA;
  --azulSec1: #00A99D;
  --azulSec2: #098B90;
  --grisCool: #888B8D;
  --verde: #43B02A;
  --blanco: rgb(255, 255, 255);
  --fuente: "Quicksand", sans-serif;
}


html{
  box-sizing: border-box;
}

*,*::after, *::before{
  box-sizing: inherit;
}

.contenedor {
  margin: 0 auto;
  margin-left: 150px;
  max-width: 1100px;
  width: 95%;
}

.imagen-formulario {
  background-image: url("../media/logo.png");
  background-position: center;
  margin-left: -80px;
  margin-right: 80px;
  background-size: cover;
  height: 100px;
  flex: 0 0 calc(54%);
  position: relative;
}

.imagen-formulario::before {
  content: "";
  position: absolute; /*se desactivan propiedades top, bottom left y right*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, var(--azulSec1) var(--azulSec2));
}

@media(min-width: 768px) {
  .imagen-formulario{
    height: auto; 
    background-position: right;
  }
}

@media(min-width:1200px) {
  .imagen-formulario{
    background-position: center;
  }
}

@media(min-width:768px) { /*responsividad*/
  .contenedor-formulario {
    display: flex;
  }
}

.formulario {
  padding: 80px;
  background-color: var(--azulOscuro);
  /*bgcolor: var(--azul)*/
}

.texto-formulario h2, .input label, .texto-formulario p, .usuario-input{
  color: var(--blanco);
  font-family: var(--fuente);
  /*color: var(--azul)*/
}

.texto-formulario h2{
  font-size: 50px;
  text-align: center;
}

.texto-formulario p{
  font-size: 20px;
  text-align: center;
}

.input label {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0px 0;
}

.input input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.field button[type="submit"] {
  width: 100%;
  background-color: var(--azulSec1);
  color: white;
  font-size: 22px;
  font-weight: bold;
  border: none;
  margin-top: 7px;
  transition: background-color .3s ease in-out;
}
.field button[type="submit"]:hover{
  cursor: pointer;
  background-color:var(--azulSec2);
}

/*estilos de crear tarea*/

.regTarea {
  /* background-color: #098B90; */
  left: 27%;
  padding-top: 10px;
  position:absolute;
  width: 900px;
}

.field-label label {
  width: 250px;
  display: flex;
  padding: 13px;
  position: relative;
}

.botonTarea {
  left: 72%;
  top: 10%;
  background-color: var(--azulSec1);
  color: white;
  border: none;
  width: 190px;
  height: 40px;
  border-radius: 7px;
  position: absolute;
}

.botonTarea:hover {
  background-color: var(--azulSec2);
}

.fecha{
  text-align: right;
  font-weight: bold;
  /* padding-right: 70px;
  padding-top: 30px; */
}

.botonAgregarColaborador{
  position: fixed;
  left: 100%;
  width: 40px;
  bottom: 40px;
  margin-left: 10px;
} 

.table {
  position: absolute;
  font-family: var(--fuente);
  font-size: large;
  top: 28%;
  left: 33%;
  width: 700px;
}

.titulo {
  position: fixed;
  text-align: center;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 50%;
  top: 65px;

}
.imagenInicio {
  position: absolute;
  width: 912px;
  height: 509px;
  left: 27%;
  top: 8%;
}

.proyectosExistentes {
  padding-top: 500px;
  padding-left: 350px;
}


.cartaProyectos{
  padding: 2rem;
}

.nombreUsuario {
  color: white;
}

.contenedorTarea {
  /* padding-left: 35%;
  display: block;
  position: absolute; */
  margin-left: 20%;
  width:max-content;
}

.cartaProyectos {
  width: 600px; 
  margin-bottom: 80%;
  margin-left: 20%;
  
}


.exitoTarea{
  position:absolute;
  bottom:35%;
  margin-top: -100px;
  margin-left: 10px;
}

/* PANTALLA DE INICIO POR PROYECTO */



.tituloProyectoE{
  position: absolute;
  width: 290px;
  height: 61px;
  left: 680px;
  top: 30px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */
  color: #000000;
}

.imagenExistente {
  position: absolute;
  width: 450px;
  left: 550px;
  top: 120px;
}

.descripcionProyectos{
  position: absolute;
  text-align: center;
  width: 758px;
  height: 84px;
  left: 395px; 
  top: 420px; 

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;

  color: #000000;
}

.estatusPE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 500px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}

.stackPE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 570px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 205px;
  line-height: 30px;

  color: #000000;
}

.stakePE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 640px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;

  color: #000000;
}

.colaboradoresPE{
  position: absolute;
  /* width: 244px; */
  height: 30px;
  left: 415px;
  top: 710px;

  font-family: var(--fuente);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;

  color: #000000;
}

.botonRegreso{
  top:400px;
  left: 750px;
}

.botonDetalles{
  top:400px;
  left: 450px;
}

.idProyectoE{
  margin-top: -650px;
}

.inputs_reporte {
  margin-left: 15%;
  width: 600px;
  margin-top: 10%;
}

#tabla_reporte {
  top: 95%;
  left: 32%;
}

.table thead td, .table thead th {
  color: white !important;
  background-color: var(--azulSec2);
}

table tbody tr:nth-child(odd) {
	background: #07999e3d
}
table tbody tr:nth-child(even) {
	background: #098c9063
}

.fechas_reporte {
  margin-left: 2%;
  margin-top: 2px;
}

.number {
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
  border-radius: none;
}

.tablahorasXtarea{
  margin-top: -135px;
  margin-left: -530px;
}

.horasTotales{
  margin-top: -250px;
  margin-left: 415px;
}

.seleccionarProyecto{
  top: 10px;
  left: -80px;
}

.titulo-medio{
  position: center;
  text-align: center;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 40%;
}

.titulo-MisProyectos{
  position: top;
  text-align: center;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 5%;

}

.notificacionAgregarColab {
  padding-left: 10px;
  margin-left: 235px;
}

#botonBorrar22,
#botonEditar{
  max-width: 15%;
  margin-left: 10%;
}

#listaColabsRegistrados{
  margin-right: 420px;
  margin-top: -37px;
  font-style:italic;
}

#borrarColab{
  max-width: 2.9%;
  margin-left: 2%;
}

#borrarColabEditProyecto{
  width: 20px;
  margin-left: 300px;
}

#editarProyecto{
  position: fixed;
  width: 20px;
  height: 20px;
  margin: 2px;
  padding-left: 110px;
}

#borrarProyecto{
  position:fixed;
  width: 20px;
  height: 20px;
  margin: 2px;
  padding-left: 110px;
}

.proyecto{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.swiper{
  max-width: 800px;
  min-width: 600px;
  margin-left: 100px !important;
}

.swiper .card{
  max-width: 40%;
  max-height: 250px;
  margin-left: 30px;
  margin-right: 30px;;
}


.columns .colProyecto {
  margin-left: 70px !important;
}

.field .is-horizontal .proyectoVista{
  margin-left: 100px !important;
}
.crear {
  position: absolute;
  left: 500px;
  top: 100px;
  width: 600px;
}
#li, 
#addColab{
  max-width:20px;
  margin-left: 10px;
  
}

.modificar {
  position: absolute;
  left: 500px;
  top: 400px;
  width: 600px;
}

.boton_crearReporte {
  position: absolute;
  right: 50px;
  top: 220px;
  width: 100px;
  height: 50px;
  background-color: #00A99D;
  border: none;
  color: white;
  border-radius: 10px;
}

.boton_crearReporte:hover {
  background-color:#00bdc7;
  cursor: pointer;
}

#reporteSemanal {
  position: absolute;
  left: 300px;
  top: 150px;
}

#reporteSemanal2 {
  position: absolute;
  left: 300px;
  top: 450px;
}
#cajaColabs{
  margin-right: 320px;
  
  /* text-align: left; */
}

.editarTarea {
  /* background-color: #098B90; */
  left: 27%;
  padding-top: 150px;
  position:absolute;
  width: 900px;
}