<!-- <footer class="footer">
    <img src="../media/logo.png" alt="logo de nat gas">
</footer> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
  </script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
</script>

    </body>
</html>