
   <aside class="menu">
      <ul class="menu-list">
        <div class="columns">
          <div class="column">
            <div class="nombreUsuario"><%- nombreSesion %> </div>
            <div class="row">
              <img class="icon" src="../media/home-free-icon-font.png" alt="inicio" />
              <a href="/user/inicio">Inicio</a>
            </div>
            <div class="row">
              <img
                class="icon"
                src="../media/form-free-icon-font.png"
                alt="proyectos"
              />
              <a href="/proyecto/misProyectos">Proyectos</a>
            </div>
            <div class="row">
              <img
                class="icon"
                src="../media/list-check-free-icon-font.png"
                alt="crear proyecto"
              />
              <a href="/tarea/misTareas">Mis Tareas</a>
            </div>
            <% if(listaPrivilegios.indexOf('RegNuevoProyecto') != -1) {  %>
              <div class="row">
                <img
                  class="icon"
                  src="../media/edit-free-icon-font.png"
                  alt="tareas"
                />
                <a href="/proyecto/registrarProyecto">Crear Proyecto</a>
              </div>
              <% } %> 
              <% if(listaPrivilegios.indexOf('RegHorasAusentes') != -1) {  %>
            <div class="row">
              <img
                class="icon"
                src="../media/document-free-icon-font.png"
                alt="crear reporte"
              />
              <a href="/reporte/nuevoReporte">Reportes</a>
            </div>
            <% } %>
            <div class="row">
              <img
                class="icon"
                src="../media/exit-free-icon-font.png"
                alt="cerrar sesión"
              />
              <a href="/user/logout">Cerrar sesión</a>
            </div>
          </div>
        </div>
        <!-- <li class="cerrarSesion">Cerrar Sesion</li> -->
      </ul>
    </aside>
