
   <aside class="menu">
      <ul class="menu-list">
        <div class="columns">
          <div class="column">
            <div class="nombreUsuario"><%- nombreSesion %> </div>
            <div class="row">
              <img class="icon" src="../media/casa.png" alt="inicio" />
              <a href="/user/inicio">Inicio</a>
            </div>
            <div class="row">
              <img
                class="icon"
                src="../media/lista.png"
                alt="proyectos"
              />
              <a href="/registrarProyecto/nuevo">Proyectos</a>
            </div>
            <div class="row">
              <img
                class="icon"
                src="../media/agregar.png"
                alt="crear proyecto"
              />
              <a href="/registrarTarea/nueva">Mis Tareas</a>
            </div>
            <% if(listaPrivilegios.indexOf('RegNuevoProyecto') != -1) {  %>
              <div class="row">
                <img
                  class="icon"
                  src="../media/pendiente.png"
                  alt="tareas"
                />
                <a>Crear Proyecto</a>
              </div>
              <% } %> 
              <% if(listaPrivilegios.indexOf('RegHorasAusentes') != -1) {  %>
            <div class="row">
              <img
                class="icon"
                src="../media/agregar.png"
                alt="crear reporte"
              />
              <a>Reportes</a>
            </div>
            <% } %>
            <div class="row">
              <img
                class="icon"
                src="../media/logout2.png"
                alt="cerrar sesión"
              />
              <a href="/user/login">Cerrar sesión</a>
            </div>
          </div>
        </div>
        <!-- <li class="cerrarSesion">Cerrar Sesion</li> -->
      </ul>
    </aside>
