<div class="box">
  <img class="imagenInicio" src="../media/paginaInicio.png" alt="foto llamativa de inicio"/>
    <div class="field is-horizontal proyectosExistentes">
     <div class="field-label is-normal">
    <label class="label">Proyectos Existentes</label>
  </div>
  <div class="select is-link">
    <select name="nombreP" id="nombreP">
      <option value="" disabled selected>Selecciona el proyecto</option>
          <% for (let p of proyecto) { %>
            <option value="<%= p.idProyecto %>"><%= p.nombreP %></option>  
          <% } %>
    </select>

    <script>
      // cuando se seleeciona un proyecto entra
      function handleProyectSelect(event)  {
        // redirigue a la vista 
        window.location = "/proyecto/existente/" + event.target.value;
      }
      //al path le añade el numero del proyecto, nombreP es una referencia al elemento que selecciona los datos
      document.getElementById("nombreP").addEventListener('change', handleProyectSelect);
    </script>
  </div>
</div>