<img class="imagenInicio" src="../media/paginaInicio.png" alt="foto llamativa de inicio"/>

<div class="field is-horizontal proyectosExistentes">
  <div class="field-label is-normal">
    <label class="label">Proyectos Exsitentes</label>
  </div>
  <div class="select is-link">
    <select name="nombreP" id="nombreP">
      <option value="" disabled selected>Selecciona el proyecto</option>
          <% for (let p of proyecto) { %>
              <option value="<%= p.idProyecto %>"><%= p.nombreP %></option>
          <% } %>
    </select>
  <!-- <a class="button is-link is-outlined botonAgregarColaborador"> Consultar </a> -->
  </div>
</div>