<div class="field is-horizontal">
    <h1 class="titulo" id="ayuda">Videos de apoyo:</h1>
</div>


<div class="videosCaja">
    <div class="field is-horizontal" id="videos">
        <label class="label" style="font-size: 18px;">Registrar nuevo proyecto:</label> 
        <a href="https://www.youtube.com/watch?v=LsgKTzN4e3c" target="_blank" rel="noopener noreferrer"><img src="../media/youtubeLogo.jpeg" width="65px;" id="img"></a>
    </div>

    <div class="field is-horizontal" id="videos2">
        <label class="label" style="font-size: 18px;">Editar y borrar proyecto:</label> 
        <a href="https://www.youtube.com/watch?v=pT4vOD4d0eI" target="_blank" rel="noopener noreferrer"><img src="../media/youtubeLogo.jpeg" width="65px;" id="img"></a>
    </div>

    <div class="field is-horizontal" id="videos3">
        <label class="label" style="font-size: 18px;">Dar de alta empleados: </label> 
        <a href="https://youtu.be/OMz5GKvIiD4" target="_blank" rel="noopener noreferrer"><img src="../media/youtubeLogo.jpeg" width="65px;" id="img"></a>
    </div>

    <div class="field is-horizontal" id="videos4">
        <label class="label" style="font-size: 18px;">Editar y borrar tarea: </label> 
        <a href="https://youtu.be/ArxIgISSufc" target="_blank" rel="noopener noreferrer"><img src="../media/youtubeLogo.jpeg" width="65px;" id="img"></a>
    </div>

    <div class="field is-horizontal" id="videos5">
        <label class="label" style="font-size: 18px;">Registrar y ver tareas: </label> 
        <a href="https://youtu.be/lFSnaaoL11I" target="_blank" rel="noopener noreferrer"><img src="../media/youtubeLogo.jpeg" width="65px;" id="img"></a>
    </div>

</div>

