<h1>Acceder</h1>
<form action="login" method="POST">
  <fieldset>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <legend>Correo</legend>
    <input placeholder="DenisseDB@gmail.com" id="correo" name="correo" type="text" required />
    <label class="label" for="user">Correo</label>
  </fieldset>
  <br />
  <input type="submit" class="btn" value="Entrar" />
</form>
