<%- include('../templates/head.ejs') %>

<div class="contenedor-formulario contenedor">
    <div class="imagen-formulario">
        
    </div>

    <form class="formulario">
        <div class="texto-formulario">
            <h2>Bienvenido de nuevo</h2>
            <p>Inicia sesión con tu cuenta</p>
        </div>
        <div class="input">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario">
        </div>
        <div class="input">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña">
        </div>
        <div class="password-olvidada">
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="input">
            <input type="submit" value="enviar">
        </div>
    </form>
</div>