<figure class="image is-128x128">
  <img src="../../public/media/paginaInicio.png" alt="imagen descriptiva de proyecto">
</figure>

<p> descripcion </p>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Estatus</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="En proceso" id="nombreT" name="nombreT "disabled>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Stack Tecnologico</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder=" NodeJS" id="nombreT" name="nombreT "disabled>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Stakeholders</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Sabritas" id="nombreT" name="nombreT "disabled>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Colaboradores</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Denisse" id="nombreT" name="nombreT "disabled>
      </div>
    </div>
  </div>
</div>