<h1 class="tituloProyecto">Crear Tarea</h1>


<div class="contenedorTarea"> 

  <div class="field is-horizontal"> 
    <div class="field-label is-normal">  
      <label class="label">Proyecto al que pertence</label>
    </div>
    <div class="field-body busqueda">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Proyecto..." onkeyup="deshabilitarTarea()" name="nombreP" id="buscar">
          <div id="listaProyectos"></div>
        </div>
      </div>
    </div>
  </div> 


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Nombre de tarea</label>
    </div>
    <div class="field-body nomTarea">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Escribe aqui" onkeyup="deshabilitarTarea()" id="nombreT" name="nombreT">
        </div>
      </div>
    </div>
  </div>

      
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Colaboradores</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control nombresesion">
          <%= nombreSesion %> </br>
          <div class="select is-fullwidth"> 
            <select name="nombre" id="nombre"> 
              <option value="" disabled selected> Selecciona a los colaboradores</option>   
              <% for (let e of empleado) { %>
                <% if (e.idEmpleado != idSesion){ %>
                  <option value ="<%= e.idEmpleado %>"><%= e.nombre %></option>                       
                <% } %>
              <% } %>
            </select>
            <a class="button is-link is-outlined botonAgregarColaboradorTarea" onclick="agregarColaborador()" id="agregarColaborador"> + </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divColaboradores" id="listaColabradores"></div>

    
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">HORAS DE TRABAJO </label>
    </div>
    <div class="field-body horasT">
      <div class="field">
        <div class="field has-addons">
          <p class="control">
            <input class="input is-danger" type="number" min="0" placeholder="1" 
            pattern="^[0-9]+" oninput="this.value = Math.max(this.value, 0)"
            onkeyup="deshabilitarTarea()" id="horasTrabajo" name="horasRegistradas">
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <input type="submit" onclick="postTarea()" value="Agregar" disabled id="submitTareabtn" class="button botonAgregarTarea is-success is-outlined">
    </p>
  </div>

</div>
      
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/scriptRegTarea.js"></script>
