<div class="field is-static">
  <h1 class="misTareas">Mis tareas</h1>

  <div class="columns">
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Proyecto">Proyecto</abbr></th>
            <th><abbr title="Tarea">Tarea</abbr></th>
            <th><abbr title="Fecha">Fecha</abbr></th>
            <th><abbr title="Horas">Horas</abbr></th>
          </tr>
        </thead>
      <tbody>
    
          <% for (let t of tarea) { %>
            <tr>
              <td><%= t.nombreT %></td>
              <td><%= t.fecha %></td>
              <td><%= t.nombreP %></td>
              <td><%= t.horasTrabajo %></td>
            </tr>
          <% } %>
      </tbody>
    </div>
  </div>
</div>