<% if(mensaje != "") {  %>

  <div class="notification is-success is-light exitoTarea" id="snackbar">
  Tarea creada <strong>correctamente</strong>
  </div>

<% } %>

<div class="field is-static">

  <div class="columns">
    <div class="column">
      <div class="field is-horizontal">
        <h1 class="titulo" id="misTareas">Mis tareas</h1>
      </div>

      
      <table id="table_f">
        <thead>
          <tr>
            <th><abbr title="Proyecto">Proyecto</abbr></th>
            <th><abbr title="Tarea">Tarea</abbr></th>
            <th><abbr title="Fecha">Fecha</abbr></th>
            <th><abbr title="Horas">Horas</abbr></th>
          </tr>
        </thead>

      <tbody>        
        <% for (let t of tarea) { %>
          <tr>
            <td><%= t.nombreP %></td>
            <td><%= t.nombreT %></td>
            <td><%= new Date(t.fecha).toLocaleString('ES-mx');%></td>
            <td><%= t.horasTrabajo %></td>
          </tr>
          <% } %>
      </tbody>
  

<script>
  $(document).ready( function () {
$('#table_f').DataTable({
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu búsqueda.",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 450,
                lengthMenu: [ [10, 25, -1], [10, 25, "All"] ],
            });
  } );

  window.onload = function() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");
        // Add the "show" class to DIV
        x.className = "show";
    // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className  = x.className.replace("show",""); }, 3000);
    };

</script>
  
      <a href="/tarea/registrarTarea"><button class="button is-info botonTarea">Registrar nueva tarea</button></a>
    </div>
  </div>
</div>