<div class="titulo">Reporte semanal NatDev</div>

        <div class="reporte">
            <div class="fechas_reporte">
                <div class = "row">
                    <div class="field is-horizontal">
                        <h6>Fecha inicio: </h6>
                        <h6 style="margin-left: 800px;">Proporción: </h6> 
                        <input class = "proporcion" type = "number" min = "0" onkeyup="eficiencia()" id = "proporcion" placeholder = "0.85">  
                    </div>
                    <div class="field is-horizontal">
                        <h6>Fecha fin: </h6>
                        <h6 style="margin-left: 800px;">Verdadero porcentaje de eficiencia: </h6> 
                        <label class = "porcentajeEficiencia" type = "number" id = "porcentajeEficiencia" value = "0">0</label>
                    </div>
                    <h6>Número reporte: </h6>
                </div>
            </div>

    <div class="columns">
        <div class="column">
            <div class="inputs_reporte">
                <div class = "field is-horizontal"> 
                    <label class = "label">Personal de Medio Tiempo</label>
                    <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                    onkeyup="horasMedioT()" onclick="horasMedioT()"
                    id = "personalMedioT" value = "0">   
                    <label class = "label">Horas</label>  
                    <div class = "horasMedioT" type = "number" id= "horasMedioT">0</div>                            
                </div>

                <div class="field is-horizontal">
                    <label class = "label">Personal de Tiempo Completo</label>
                    <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                    onkeyup="horasCompletoT()" onclick="horasCompletoT()" 
                    id = "personalCompletoT" value = "0">
                    <label class = "label">Horas</label>  
                    <div class = "horasCompletoT" type = "number" id= "horasCompletoT">0</div>                      
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Total de personal</label>
                    <div type = "number" id= "totalPersonal" min = "0" value = "0">0</div> 
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas Esperadas</label>
                    <div type = "number" id= "horasEsperadas" min = "0" value = "0">0</div>
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas de Vacaciones</label>
                    <input class = "input" type = "number" min = "0"
                    onkeyup="horasEsperadas()" onclick="horasEsperadas()"
                    value = "0" id= "horasVacaciones">  
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Descripcion</label>
                    <input id = "descripcion" type ="text" placeholder="Ingresar">
                </div>
            </div>
        </div>
    </div>
</div>

    <table class="table" id="tabla_reporte">
        <thead>
        <tr>
            <th><abbr title="Proyecto">Proyecto</abbr></th>
            <th><abbr title="Tarea">Horas registradas</abbr></th>
            <th><abbr title="Horas">Horas reales</abbr></th>
        </tr>
        </thead>

        
        <tbody>        
            <% for (let h of horas) { %>
                <tr>
                    <td><%= h.nombreP %></td> 
                    <td id = "horasTrabajo"><%= h.horasTrabajo %></td> 
                    <td><input value = "0" type="number" id = "horasReales" min = "0"></td>
                </tr>
             <% } %>
             <tr>
                <td> <b> TOTAL </b> </td>
                <td id = "sumHorasTrabajo"></td> 

            </tr>
            
        </tbody>
        
        <!--Botón de guardar-->
        <input type="submit" id = "reportebtn" value = "Guardar" onclick="postNuevoReporte()">

<script src="/js/scriptReporte.js"></script>