<div class="titulo">Reporte semanal NatDev</div>

        <div class="reporte">
            <div class="fechas_reporte">
                <div class = "row">
                    <div class="field is-horizontal">
                        <h6>Fecha inicio: </h6>
                        <h6 style="margin-left: 800px;">Proporción: </h6>   
                    </div>
                    <div class="field is-horizontal">
                        <h6>Fecha fin: </h6>
                        <h6 style="margin-left: 800px;">Verdadero porcentaje de eficiencia: </h6> 
                    </div>
                    <h6>Número reporte: </h6>
                </div>
            </div>

    <div class="columns">
        <div class="column">
            <div class="inputs_reporte">
                <div class = "field is-horizontal"> 
                    <label class = "label">Personal de Medio Tiempo</label>
                    <input class = "input" type = "number" placeholder = "Ingresar" onkeyup="horasMedioT()" id = "personalMedioT">   
                    <label class = "label">Horas</label>  
                    <div class = "horasMedioT" type = "number" id= "horasMedioT">0</div>                            
                </div>

                <div class="field is-horizontal">
                    <label class = "label">Personal de Tiempo Completo</label>
                    <input class = "input" type = "number" placeholder = "Ingresar" onkeyup="horasCompletoT()" id = "PersonalCompletoT">
                    <label class = "label">Horas</label>  
                    <div class = "horasCompletoT" type = "number" id= "horasCompletoT">0</div>                      
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Total de personal</label>
                    <input class = "input" type = "number" id= "totalPersonal">  
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas Esperadas</label>
                    <input class = "input" type = "number" id= "horasEsperadas">  
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas de Vacaciones</label>
                    <input class = "input" type = "number" id= "horasVacaciones">  
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/scriptReporte.js"></script>