<div class="titulo">Reporte semanal NatDev</div>

                <div class="fechas_reporte">
                    <div class = "row">
                        <div class="input-field is-normal">
                            <label class="label">Fecha inicio: </label>
                            <input id="fechaInicio" type="date" onclick = deshabilitarProyecto()>
                            <label class="label">Fecha fin: </label>
                            <input id="fechaFinal" type="date" onclick = deshabilitarProyecto()>
                        </div>
                    </div>
                </div>
                    
        <div class="columns">
            <div class="column">
                <div class="inputs_reporte">
                    <div class = "field is-horizontal"> 
                        <label class = "label">Personal de Medio Tiempo</label>
                        <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                        onkeyup="horasMedioT()" onclick="horasMedioT()" pattern="^[0-9]+"
                        oninput="this.value = Math.max(this.value, 0)" id = "personalMedioT" value = "0"
                        onclick = deshabilitarProyecto() onkeyup = deshabilitarProyecto()>   
                        <label class = "label">Horas</label>  
                        <div class = "horasMedioT" type = "number" id= "horasMedioT">0</div>                            
                    </div>

                    <div class="field is-horizontal">
                        <label class = "label">Personal de Tiempo Completo</label>
                        <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                        onkeyup="horasCompletoT()" onclick="horasCompletoT()" pattern="^[0-9]+"
                        oninput="this.value = Math.max(this.value, 0)" id = "personalCompletoT" value = "0"
                        onclick = deshabilitarProyecto() onkeyup = deshabilitarProyecto()>
                        <label class = "label">Horas</label>  
                        <div class = "horasCompletoT" type = "number" id= "horasCompletoT">0</div>                      
                    </div>
                    <div class="field is-horizontal">
                        <label class = "label">Horas de Vacaciones</label>
                        <input class = "input" type = "number" min = "0"
                        onkeyup="horasEsperadas()" onclick="horasEsperadas()"
                        value = "0" id= "horasVacaciones" pattern="^[0-9]+"
                        oninput="this.value = Math.max(this.value, 0)"
                        onclick = deshabilitarProyecto() onkeyup = deshabilitarProyecto()>  
                    </div>
                    <div class="field is-horizontal">
                        <label class = "label">Total de personal</label>
                        <div type = "number" id= "totalPersonal" min = "0" value = "0"
                        pattern="^[0-9]+" oninput="this.value = Math.max(this.value, 0)">0</div> 
                    </div>
                    <div class="field is-horizontal">
                        <label class = "label">Horas Esperadas</label>
                        <div type = "number" id= "horasEsperadas" min = "0" value = "0">0</div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="porcentajes">
                                <div class="field is-horizontal">
                                    <label class="label">Proporción: </label>
                                    <input class = "porcentaje" type = "number" id = "porcentaje"
                                    onkeyup="eficiencia()" onclick="eficiencia()" placeholder="0.85" value = "0.85">
                                    </div>
                                    <div class="field is-horizontal">
                                    <label class="label">Eficiencia Verdadera: </label> 
                                    <label class = "porcentajeEficiencia" type = "number" id = "porcentajeEficiencia" value = "0">0</label>  
                                    </div>
                                    <div class="field is-horizontal">
                                    <label class="label">Eficiencia Modificada: </label> 
                                    <label class = "proporcion" type = "number" id = "proporcion" value = "0">0</label>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <label class = "label">Descripción</label>
                        <input id = "descripcion" type ="text" placeholder="Ingresar">
                    </div>
                </div>
            </div>
        </div>

        <table id="tabla_reporte">
            <thead>
            <tr>
                <th><abbr title="Proyecto" id="proyecto">Proyecto</abbr></th>
                <th><abbr title="Tarea" id="tarea">Horas registradas</abbr></th>
                <th><abbr title="Horas" id="horas">Horas reales</abbr></th>
            </tr>
            </thead>

            
            <tbody id="datos_tabla"> 
                <script>
                    const nombreP = new Array();
                </script>       
                <% for (let h of horas) { %>
                    <tr>
                    
                    </tr>
                    <script>
                        nombreP.push("<%= h.nombreP %>");
                    </script>
                <% } %>
                <tr>
                    
                    
                </tr>
            </tbody>

            <!--Botón de guardar-->

            <p class="control">
                <a href="/reporte/nuevoReporte"><input type="submit" onclick="postNuevoReporte()" value="Guardar cambios"
                class="button reportebtn is-success is-outlined" id="reportebtn"></a> 
            </p>

            <p class="control">
                <a type="button" class="button reportebtn is-info" onclick="crearPDF()" id = "crearPDF">Generar PDF</a>
            </p>

            <p class="control">
                <a type="button" id="regresarbtn2" href="/reporte/nuevoReporte"
                class="button regresarbtn2 is-info">Regresar</a>
            </p>

          <script>
            function crearPDF() {
                window.print();
            }
          </script>

        

        <script>
            const asyncFunc = () => {
                const fechaInicio = document.getElementById('fechaInicio').value;
                const fechaFinal = document.getElementById('fechaFinal').value
  
                //función que manda la petición asíncrona
                fetch('/reporte/buscar/' + fechaInicio + '/' + fechaFinal, {
                    method: 'GET',
                }).then(result => {
                    return result.json(); //Regresa otra promesa
                }).then(data => {
                    while (nombreP.length > 0) {
                        nombreP.pop();
                    }
                    //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                    console.log("hrs:", data.fecha);
                    let html = '';
                    if (data.fecha.length > 0) { 
                                        
                      for(let f of (data.fecha)) {
                        nombreP.push(f.nombreP);
                        html += '<tr>';
                        html += '<td>'
                        html += `${f.nombreP}`;
                        html += '</td>'; 
                        html += '<td>';
                        html += `<input id = "horasTrabajo['${f.nombreP }']" type = "number" value="${f.horasReales}" readonly>`;
                        html += '</td>';
                        html += '<td>';
                        html += `<input value = "${f.horasReales}" type="number" id = "horasReales['${f.nombreP}']" min = "0" placeholder="0" onkeyup="sumHoras()" onclick="sumHoras()">`;  
                        html += '</td>';
                        html += '</tr>';       
                      };      
                        html += '<tr>';
                        html += '<td>'; 
                        html += '<b>Total</b>';
                        html += '</td>';
                        html += '<td id = "totalHorasTrabajo" type = "number" value = "0">';
                        html += '</td>';
                        html += '<td id = "totalHorasReales" type = "number" value = "0">';
                        html += '</td>';
                        html += '</tr>';            
                    } else {
                        html = '<h2>No hay proyectos registrados en el periodo seleccionado.</h2>';
                    }
                    document.getElementById("datos_tabla").innerHTML = html;
                    sumHoras();
                }).catch(err => {
                    console.log(err);
                });
            };
    
            document.getElementById('fechaFinal').oninput = asyncFunc;
        </script>

<script src="/js/scriptReporte.js"></script>