<div class="titulo">Reporte semanal NatDev</div>

        <div class="reporte">
            <div class="fechas_reporte">
                <div class = "row">
                    <div class="field is-horizontal">
                        <h6>Fecha inicio: </h6>
                        <h6 style="margin-left: 800px;">Proporción: </h6>   
                    </div>
                    <div class="field is-horizontal">
                        <h6>Fecha fin: </h6>
                        <h6 style="margin-left: 800px;">Verdadero porcentaje de eficiencia: </h6> 
                    </div>
                    <h6>Número reporte: </h6>
                </div>
            </div>

    <div class="columns">
        <div class="column">
            <div class="inputs_reporte">
                <div class = "field is-horizontal"> 
                    <label class = "label">Personal de Medio Tiempo</label>
                    <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                    onkeyup="horasMedioT()" onkeyup="personalTotal()" onkeyup="horasEsperadas()" 
                    id = "personalMedioT">   
                    <label class = "label">Horas</label>  
                    <div class = "horasMedioT" type = "number" id= "horasMedioT">0</div>                            
                </div>

                <div class="field is-horizontal">
                    <label class = "label">Personal de Tiempo Completo</label>
                    <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                    onkeyup="horasCompletoT()" onkeyup="personalTotal()" onkeyup="horasEsperadas()" 
                    id = "personalCompletoT">
                    <label class = "label">Horas</label>  
                    <div class = "horasCompletoT" type = "number" id= "horasCompletoT">0</div>                      
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Total de personal</label>
                    <div class = "totalPersonal" type = "number" id= "totalPersonal">0</div> 
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas Esperadas</label>
                    <div type = "number" id= "horasEsperadas">0</div>
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas de Vacaciones</label>
                    <input class = "input" type = "number" min = "0" id= "horasVacaciones">  
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/scriptReporte.js"></script>