<div class="titulo">Crear reporte</div>
<p id="reporteSemanal">Reporte semanal:</p>
  <div class="crear">
  
  <div class="input-field is-horizontal">

    <p>Fecha inicio:</p>
    <input id="fechaInicio" type="date">
  
  <p>Fecha fin:</p>
    <input id="fechaFin" type="date">
  </div>
</div>

  <div class="titulo" style="top: 330px">Modificar reporte:</div>

  <p id="reporteSemanal2">Reporte semanal:</p>
 <div class="modificar">
  
  <div class="input-field is-horizontal">
    
      <p>Fecha inicio:</p>
    <input id="fechaInicio" type="date">
    
    <p>Fecha fin:</p>
      <input id="fechaFin" type="date">
    </div>

</div>

  <a href="/reporte/crearReporte"><button class="boton_crearReporte">Crear reporte</button></a>