<div class="titulo">Crear reporte</div>

  <div class="field-label is-normal">
    <label class="label">Reporte semanal:</label>
  </div>

  <div class="titulo2">Modificar reporte:</div>

  <div class="field-label is-normal">
    <label class="label">Reporte semanal:</label>
  </div>

  <button><a href="crearReporteForm.ejs"></a></button>