<div class="titulo">Crear reporte</div>

  <div class="titulo" style="top: 330px">Modificar reporte:</div>

  <p id="reporteSemanal2">Reporte semanal:</p>
 
<div class="modificar">
  <div class="field is-horizontal reportesExistentes">
 <div class="select is-link seleccionarReporte">
   <select name="nombreR" id="nombreR">
     <option value="" disabled selected>Selecciona el reporte</option>
         <% for (let r of reporte) { %>
           <option value="<%= r.descripcion %>"><%= r.descripcion %></option>  
         <% } %>
   </select>

 </div>
</div>

</div>

<script>
  function handleReporteSelect(event)  {
    window.location = "/reporte/existente/" + event.target.value;
  }
  //al path le añade el numero del proyecto, nombreP es una referencia al elemento que selecciona los datos
  document.getElementById("nombreR").addEventListener('change', handleReporteSelect);
</script>

  <a href="/reporte/crearReporte"><button class="boton_crearReporte" id="btnCrearReporte">Crear reporte</button></a>