<% if(mensaje != "") {  %>

  <div class="notification is-success is-light exitoTarea" id="snackbar">
  Reporte creado <strong>correctamente</strong>
  </div>

<% } %>

<div class="titulo" id="crearR">Crear reporte</div>

  <div class="titulo" id="modificar">Modificar reporte:</div>

  <p id="reporteSemanal2">Reporte semanal:</p>
 
<div class="modificar" id="modificarR">
  <div class="field is-horizontal reportesExistentes">
 <div class="select is-link seleccionarReporte">
   <select name="nombreR" id="nombreR">
     <option value="" disabled selected>Selecciona el reporte</option>
         <% for (let r of reporte) { %>
           <option value="<%= r.noReporte %>" id="nombrer"><%= r.noReporte%></option>  
         <% } %>
   </select>

 </div>
</div>

</div>


<script>
  function handleReporteSelect(event)  {
    window.location = "/reporte/existente/" + event.target.value;
  }
  //al path le añade el numero del proyecto, nombreP es una referencia al elemento que selecciona los datos
  document.getElementById("nombreR").addEventListener('change', handleReporteSelect);

  window.onload = function() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");
        // Add the "show" class to DIV
        x.className = "show";
    // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className  = x.className.replace("show",""); }, 3000);
    };
    
</script>

<p class="control">
  <a href="/reporte/crearReporte"><input type="submit" value="Crear reporte"
  class="button btnCrearReporte is-info" id="btnCrearReporte"></a> 
</p>